<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="style.css"/>

	<title>Document</title>
</head>
<body>
	<h1>Dashboard</h1>
	<form action="fileupload" id="WinForm" method="post" enctype="multipart/form-data">
		<input type="file" id="FileUpload" name="/api/upload">
		<input type="submit" value="upload">
	</form>
	<button id="click">click me</button>

	<!-- The scripts -->
	<script src="MasterSrc.js"></script>
</body>
</html>